body {
    margin: 30px auto;
    padding: 30px;
    background-image: url("../images/tic-tac-toe.png");
    width: 682px;
}
container {
    text-align: center;
}
#word {
    border: solid 1px;
    width: 682px;
    margin-top: 40px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 40px;
    padding: 50px;
    background-color: lightgoldenrodyellow

}

img {
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 90px;
}
#game{
    display: inline-block;
}

#randomNumber {
    border: solid 1px; 
    width: 322px;
    height: 118px;
    float: left;
    margin-left: 100px;
    margin-right: 20px;
    padding: 10px;
    text-align:center;
    background-color: lightblue
}
#sum {
    border: solid 1px; 
    width: 320px;
    height: 118px;
    float: left;
    margin-right: 100px;
    margin-left: 20px;
    padding: 10px;
    text-align: center;
    padding-top: 40px;
    background-color: lightcoral
}
#winLose {
    border: solid 1px; 
    height: 100px;
    width: 682px;
    float: left;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding:10px;
    text-align:center;
    float:left;
    background-color: lightgreen;
    display: block;
}
